@inherits Fluxor.Blazor.Web.Components.FluxorComponent;
@inject IState<AccountState> AccountState;
@inject IDispatcher Dispatcher;

<div class="grid place-items-center h-screen">
    @if (AccountState.Value.IsLoading)
    {
        <p>Loading...</p>
    }
    else
    {
        <div>
            <h1 class="text-center text-neutral-50 text-4xl font-bold mb-12">Select Account</h1>
            <div class="flex gap-8">
                @foreach (var account in AccountState.Value.Accounts)
                {
                    <AccountSelect Account="@account"/>
                }
            </div>
        </div>
    }
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new GetAccountsRequestedAction());
    }
}