@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent;
@inject IState<AppState> AppState;

<div class="h-screen">
    @(AppState.Value.SelectedPage switch {
        SelectedPage.Home => (@<p>Hey</p>),
        SelectedPage.AccountSelect => (@<AccountSelectPage />),
        SelectedPage.EditAccount => (@<AccountEditPage />),
    })
</div>
